.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
.codex
.opencoder/
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/opencoder.json
a.out
target
.scripts
.direnv/

# Backups
.bak-*/
*.bak.*
.bak*

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
link_repos
__pycache__/
.cargo
.opencode
.opencoder
